
  .detail {
    h2 {
      font-size: 18px;
    }

    figure {
      padding: 10px 0;
    }

    h2 {
      padding: 10px 0;
    }

    .date,
    p {
      color: #ffffff66;
      font-weight: 400;
    }
  }
