nav {
  display: flex;
  align-items: center;
  padding: 20px;

  .logo{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFF;
    color: #333;
    font-weight: 700;
  }

  .menu{
    list-style: none;
    padding-left: 20px;
    li {
      display: inline-block;
      padding: 0 10px;
      font-weight: 400;
    }
  }
}
